.h7 {
    font-family: "The Horizontal";
    color: #ED9690;
    font-size: 200px;
    opacity: 20%;
    letter-spacing: 18px;
    margin-left: 5%;
    margin-bottom: -40px;
}

.zona_texto {
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    max-width: 1200px;
}

.row {
    max-width: 100%;
}

.Col1 {
    text-align: center;
    width: 40%;
}

.Col2 {
    width: 55%;
}

.Col2 h2 {
    margin-left: -10%;
    margin-top: -40px;
    font-size: 20px;
    color: black;
}