:root {
    --verde: #32453F;
    --azul: #224F53;
    --rosado-fuerte: #ED9690;
    --rosado-claro: #FAE8EB;
    --blanco: white;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 10PX;
    font-family: "Alcubierre";
}

@font-face {
    font-family: "Alcubierre";
    src: url(../Fuentes/Alcubierre.otf)
}

@font-face {
    font-family: "The Horizontal";
    src: url(../Fuentes/The\ Horizontal.ttf)
}


/*--------------------------------- nav*/

nav {
    display: flex;
    padding: 15px;
    background-color: var(--rosado-claro);
    font-family: "Alcubierre";
    font-size: 18px;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav li a {
    color: var(--azul);
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    color: black;
}

.zona2 {
    align-items: center;
    background-image: url(../images/Cactus-01.png);
    background-size: cover;
    height: 250px;
}

.zona2 img {
    display: block;
    margin: auto;
    max-height: 200px;
    padding-top: 50px;
}

.zona3 {
    padding: 5px;
    min-height: 250px;
    height: auto;
    background-color: var(--blanco);
}

h1 {
    margin-top: 10px;
    font-size: 60px;
    font-family: "The Horizontal";
    color: var(--rosado-fuerte);
    letter-spacing: 6.4px;
}

h1 p {
    padding-left: 15%;
}

h2 {
    font-family: "Alcubierre";
    font-size: 18px;
    font-optical-sizing: inherit;
    color: black;
    text-align: justify;
    letter-spacing: 3px;
}

h2 p {
    padding-right: 20%;
    padding-left: 20%;
}

.zona4 {
    max-height: 400px;
    max-width: auto;
}

.zona4 .row {
    margin: 0px;
    display: flex;
    height: 300px;
    min-height: 150px;
}

.izquierda {
    margin: 1.5%;
    text-align: center;
    width: 30%;
    background-image: url(../images/4imagen1.jpg);
    background-size: cover;
}

.izquierda a {
    color: whitesmoke;
    text-decoration: none;
}

.izquierda a h4 {
    margin: auto;
    margin-top: 28%;
    width: 80%;
    padding: 10px;
    background-color: var(--rosado-fuerte);
}

a:hover h4 {
    text-decoration: underline;
    color: black;
}

.medio {
    margin: 1.5%;
    text-align: center;
    width: 30%;
    background-image: url(../images/Cactus-01.png);
    background-size: cover;
}

.medio a {
    text-decoration: none;
}

h3 {
    color: var(--rosado-fuerte);
    font-family: "The Horizontal";
    font-size: 60px;
    letter-spacing: 4px;
}

h4 {
    font-family: "Alcubierre";
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 8px;
}

.medio h3 {
    margin-top: 100px;
}

.medio a:hover h3 {
    color: var(--verde)
}

.medio a h4 {
    margin: 0px;
}

.medio a:hover h4 {
    text-decoration: underline;
    color: goldenrod
}

.derecha {
    margin: 1.5%;
    text-align: center;
    width: 30%;
    background-image: url(../images/4imagen2.jpg);
    background-size: cover;
}

.derecha a {
    text-decoration: none;
}

.derecha a h4 {
    margin: auto;
    margin-top: 28%;
    max-width: 80%;
    padding: 10px;
    background-color: var(--rosado-fuerte);
}

.zona5 {
    background: var(--rosado-claro);
    min-height: 200px;
    height: auto;
}

.zona5 .titulo h2 {
    padding-top: 20px;
    text-align: center;
    color: black;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.zona5 .cajas {
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: 2px;
}

.caja1 {
    margin-right: 20px;
    background-color: whitesmoke;
    display: flex;
    color: grey;
}

.caja1a {
    margin-right: 20px;
    background-color: whitesmoke;
    display: flex;
    color: grey;
}

.caja2 button {
    background-color: var(--verde);
    color: whitesmoke;
}

.caja2 a {
    text-decoration: none;
    color: whitesmoke;
}

.caja2 a p {
    margin: 10px;
}

.caja2 a:hover {
    text-decoration: underline;
    color: black;
}

.logo-final {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}