:root {
    --verde: #32453F;
    --azul: #224F53;
    --rosado-fuerte: #ED9690;
    --rosado-claro: #FAE8EB;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 10PX;
    font-family: "Alcubierre";
}

@font-face {
    font-family: "Alcubierre";
    src: url(Fuentes/Alcubierre.otf)
}

@font-face {
    font-family: "The Horizontal";
    src: url(Fuentes/The\ Horizontal.ttf)
}


/*--------------------------------- nav*/

nav {
    display: flex;
    padding: 15px;
    background-color: var(--rosado-claro);
    font-family: "Alcubierre";
    font-size: 18px;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav li a {
    color: var(--azul);
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    color: black;
}

.zona2 {
    background-image: url(images/Cactus-01.png);
    height: 250px;
    background-size: cover;
    background-position: center top;
}

.zona3 {
    padding: 5px;
    height: auto;
    background-color: var(--verde);
}

h1 {
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.41);
    padding: 0px;
    margin-top: -120px;
    margin-bottom: -140px;
    font-size: 60px;
    font-family: "The Horizontal";
    color: var(--rosado-fuerte);
    letter-spacing: 6.4px;
}

h1 p {
    padding-left: 150px;
}

h2 {
    margin-top: 0px;
    font-family: "Alcubierre";
    font-size: 17px;
    font-optical-sizing: inherit;
    color: whitesmoke;
    text-align: justify;
    letter-spacing: 2px;
}

h2 p {
    padding-right: 180px;
    padding-left: 180px;
}

.zona4 {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.izquierda {
    text-align: center;
    width: 433px;
    min-width: 100px;
    background-image: url(images/4imagen1.jpg);
    background-size: cover;
}

.izquierda a {
    color: whitesmoke;
    text-decoration: none;
}

.izquierda a h4 {
    margin: 60px;
    padding: 10px;
    margin-top: 150px;
    background-color: var(--rosado-fuerte);
}

a:hover h4 {
    text-decoration: underline;
    color: black;
}

.medio {
    text-align: center;
    width: 434px;
    min-width: 100px;
    background-image: url(images/Cactus-01.png);
    background-size: cover;
}

.medio a {
    text-decoration: none;
}

h3 {
    color: var(--rosado-fuerte);
    font-family: "The Horizontal";
    font-size: 60px;
    letter-spacing: 4px;
}

h4 {
    font-family: "Alcubierre";
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 4px;
}

.medio h3 {
    margin-top: -10px;
    margin-bottom: -70px;
}

.medio a:hover h3 {
    color: var(--verde)
}

.medio a h4 {
    margin: 0px;
}

.medio a:hover h4 {
    text-decoration: underline;
    color: goldenrod
}

.derecha {
    text-align: center;
    width: 433px;
    min-width: 100px;
    background-image: url(images/4imagen2.jpg);
    background-size: cover;
}

.derecha a {
    text-decoration: none;
}

.derecha a h4 {
    margin: 60px;
    padding: 10px;
    margin-top: 150px;
    padding: 10px;
    background-color: var(--rosado-fuerte);
}

.zona5 {
    background: var(--rosado-claro);
    min-height: 200px;
    height: auto;
}

.zona5 .titulo h2 {
    text-align: center;
    padding-top: 50px;
    color: black;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.zona5 .cajas {
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: 2px;
}

.caja1 {
    margin-right: 20px;
    background-color: whitesmoke;
    display: flex;
    color: grey;
}

.caja1 p {
    margin: 10px;
}

.caja1a p {
    margin: 10px;
}

.caja1a {
    margin-right: 20px;
    background-color: whitesmoke;
    color: grey;
}

.caja2 {
    background-color: var(--verde);
    color: whitesmoke;
}

.caja2 a {
    text-decoration: none;
    color: whitesmoke;
}

.caja2 a p {
    margin: 10px;
}

.caja2 a:hover {
    text-decoration: underline;
    color: black;
}

.logo-final {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    margin-left: 30px;
    margin-right: 30px;
}